
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* dark 02 */
.text-white{
    color: rgba(255, 255, 255, 1);
}
.bg-light{
    background-color: black;
}



/* shared styles */
.display-flex{
    display: flex;
}

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-link{
        text-decoration: none;
   
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.fitness{
    color: rgba(230, 83, 60, 1);
}

#home{
background-color: rgba(230, 83, 60, 1);
border-radius: 46px;
font-weight: 400;
padding: 20px;

}

/* feature styles */
.feature-tittle{
    font-weight: 900;
    font-size: 1.25rem;
    align-items: center;
}

.features{
    display: flex;

}

/* responsive media quary */
@media screen and (max-width: 576px) {
    .features,
    .navbar,
    .nav-link{
        flex-direction: column;
    }
    
}